{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class='container'>
      <div class='row'>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <h1> Орловский Станислав </h1>
              Всем привет :)
              <br>
              Мне 18 лет и являюсь студентом Горного университета, параллельно с учебой на строителя пытаюсь
              освоить <b>программирование</b>, и этот сайт является моим мини - проектом )
              <hr>
              Желаю Вам приятно провести время, делясь с другими своими мыслями в постах !
          </div>
          <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <img src="https://sun9-45.userapi.com/impg/Yrbl0F2436rYsrtWwqd-Pbzkv2o7q50PnM_QBQ/qPSV943ME4k.jpg?size=1080x1920&quality=96&sign=216f2e5516bee8c010baff9950c6c762&type=album"
                   class="img-thumbnail" alt="...">
          </div>
      </div>
  </div>
{% endblock %}